{% extends "mullerHome/blogBaseTemplate.html" %}
{% load staticfiles %}

{% block title %}
    Muller Blog
{% endblock %}


{% block content %}

    {% if latest_blog_entries %}
        <ul id="frontpage_index">
        {% for blogEntry in latest_blog_entries %}
            <li>
                <a class="blog_preview" href="{% url 'blogEntry' blogEntry.id  %}">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">{{ blogEntry.blog_title }}</h3>
                      </div>
                      <div class="panel-body">
                        {{ blogEntry.blog_description }}
                      </div>
                    </div>

                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No blog entries are available.</p>
    {% endif %}

{% endblock %}





